doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.8.1/css/all.css', integrity='sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf', crossorigin='anonymous')
    title Beautiful Bangladesh
    style.
      body {
      background-image: url("https://png.pngtree.com/thumb_back/fw800/back_pic/05/06/82/24597067863c92a.jpg");
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      }
      .pick #cls {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      }
      h1 {
      position: absolute;
      top: 8%;
      left:25%;
      border: 10px;
      color: #FFFFFF;
      font-size: 80px;
      font-family: cursive;
      }
      .card {
      /* Add shadows to create the "card" effect */
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
      transition: 0.9s;
      }
      /* On mouse-over, add a deeper shadow */
      .card:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
      }
      /* Add some padding inside the card container */
      .container {
      padding: 2px 16px;
      }
      h4 {
      position: relative;
      color:#0077be;
      font-size: 25px;
      font-family: cursive;
      left: 30%
      }
  body
    h1 Beautiful Bangladesh
    .card(style='\
    position:absolute;\
    top:50%;\
    left: 30%;\
    height: 200px;\
    width:200px;\
    ')
      a(href='/user/login')
        img(src='https://www.svgrepo.com/show/3319/tourist.svg', alt='Avatar', style='width:100%')
      .container
        h4
          b
            | USER
            br
            | PORTAL
    .card(style='\
    position:absolute;\
    top:50%;\
    left: 58%;\
    height: 200px;\
    width:200px;\
    ')
      a(href='/agency/login')
        img(src='https://www.svgrepo.com/show/69059/agency-connection.svg', alt='Avatar', href='/user/login', style='width:100%')
      .container
        h4
          b
            | AGENCY
            br
            | PORTAL
